.soon{
    font-size: 60px;
}

tr{
    height: 60px;
    font-size: larger;
}
.navbar{
    font-size: 16px;
}

.navbar-brand{
    font-size: 20px;
}

#navbarResponsive{
    background-color: white;
}

.jumbotron{
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("../images/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.hero-h3{
    font-style: italic;
}


.line-spacing{
    line-height: 3rem;
}

.customers img{
    height: 150px;
    width: 380px;
    margin: 1rem 0 1rem 0;
}

@media only screen and (max-width: 600px) {
    .navbar-brand{
        font-size: 16px;
    }
  }

  